
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/

.body {
   position: relative;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
 
  
}


.navbar-conteiner {
    text-align: center;
    
  }


/*MAIN*/

.descuento {
    background-color: aliceblue;
    width: auto;
    height:auto 100px;
 border-style: double;
 

   
}
.parraf {
    font-size: 70px;
    text-align: center;
    margin: 20%;
    padding: 5%;
    width: 60%;
    height: auto;
    background-color: aliceblue;
    margin-top: 15%;
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    overflow: hidden;
}
 @keyframes aparecer {
     0% {
         opacity: 0;
     }
     100%{
         opacity: 1;
     }
 }




.centrar  {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: aliceblue;
animation-duration: 1s;
animation-name: animate__backInLeft;
animation-iteration-count: infinite;
   
  
}

@keyframes animate__backInLeft {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



.centrar-link {
    text-align: center;
    background-color: aliceblue;
}


.fotos{
    display: block;
    text-align: right;
   padding: 10%;

}

   
   
   
   .sillon {
       text-align: left;
   
   }
   .maseta{
       text-align:left;

   
   }
   .amelia {
    transform: translate(70px, 20px);
   }
   

/*FORM*/

.negrita {
    font-weight: bold;
}

.achicar {
    font-size: 20px;
}



/*CSS TOILETS*/
.centrarfoto {
    text-align: center;
    font-size: 100px;
    padding: 10%
}
.parrafo {
    text-align: center;
    font-weight: bold;
    background-color: aliceblue;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15%;
    padding: 10%;
    
    
}

.fuente-t {
    width: auto;
    height: auto;
    padding: 150px;
    margin: 300px;
    border-style: inset;

}



/*CSS LIVINGROOM*/

.centrarfoto {
    text-align: center;
    font-size: 100px;
    padding: 10%
    
}
.parrafo-L {
    text-align: center;
    font-weight: bold;
    background-color: aliceblue;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15%;
    padding: 10%;
    
    
}

.fuente-L {
    width: auto;
    height: auto;
    padding: 150px;
    margin: 300px;
    border-style: inset;

}

/*CSS KITCHENS*/
.centrarfotok {
    text-align: center;
    font-size: 100px;
    padding: 10%
    }


.parrafo-K {
    text-align: center;
    font-weight: bold;
    background-color: aliceblue;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15%;
    padding: 10%;
    
    
    
}

.fuente-k{
    width: auto;
    height: auto;
    padding: 150px;
    margin: 300px;
    border-style: inset;

}






.titulo-diseño {
    text-align: right;
    background-color: aliceblue;
    position: fixed;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;

 }

/*CSS BEDROOM*/
.centrarfoto-b {
    text-align: center;
    font-size: 100px;
    padding: 10%
    }


.parrafo-b {
    text-align: center;
    font-weight: bold;
    background-color: aliceblue;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15%;
    padding: 10%;
    
}

.fuente-b{
    width: auto;
    height: auto;
    padding: 150px;
    margin: 300px;
    border-style: inset;

}

/*MENU*/

.menu{
    list-style: none;
    padding: 0;
    background-color: rgb(191, 218, 241);
    width: 1000%;
    max-width:100%;
    margin: center;
 text-align: center;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.menu li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 40px 60px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background-color: white
}
.fotologo{
    text-align: center;
    width: 20px;
    height: 20px;
    

}


/*footer*/
footer {
    background-color: rgb(191, 218, 241);
padding: 5%;
margin: auto; padding:0%;
text-align: center;
position: absolute;
bottom: 0%;
width: 100%;
display: block;

}

/*CSS GARDEN*/
.centrarfoto-g {
    text-align: center;
    font-size: 100px;
    padding: 10%
    }


.parrafo-g {
    text-align: center;
    font-weight: bold;
    background-color: aliceblue;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15%;
    padding: 10%;
    
    
}

.fuente-g{
    width: auto;
    height: auto;
    padding: 150px;
    margin: 300px;
    border-style: inset;
}
   
.form {
    width: 500px;
    height: 400px;
font-size: 20px;

    
}


/*GRID*/
.grid-container {
    display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap:50px;
  grid-row-gap:50px 50px 50px;
justify-items:center;
grid-column: 1/3 2/4;
padding: 5%;
       
}

/*MEDIA QUERIES*/

@media screen and (max-width: 480px) {
    body  {
      
       grid-column: 1/4;
       width: 100%;
     
    }
.menu{
    flex-grow: 1;
    flex-wrap: wrap;
    display: inline;
}
.parraf{
    flex-grow: 1;
        font-size: 20px;
        text-align: center;
        margin: 20%;
        padding: 5%;
        width: 60%;
        height: auto;
        background-color: aliceblue;
        margin-top: 15%;
        animation-duration: 1s;
        animation-name: aparecer;
        animation-iteration-count: infinite;
        overflow: hidden;
    } 
    .footer{
      
        width: 100%;
        height: 5%;
        background-color: red;
    
    }
    .form{
     text-align: center;
    }
    
    .header .navbar-conteiner{
        flex-wrap: wrap;
        display: inline;
    }
    
    
    .titulo-diseño {
        text-align:center;
        position: static;
    
    
     }
  .fotologo{
      width: 20px;
      height: 20px;
      text-align: center;
  }
}


  @media screen and (max-width: 600px) {
    .menu{
        flex-grow: 1;
        flex-wrap: wrap;
    }
    .parraf{
        flex-grow: 1; 
    }
    .footer{
        flex-grow: 1;
        flex-wrap: wrap;
    
    }

     
  }
   
    