/*footer*/


footer {
    background-color: rgb(191, 218, 241);
padding: 5%;
margin: auto; padding:0%;
text-align: center;
position: absolute;
bottom: 0%;
width: 100%;
display: block;
font-family:fantasy

}